.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  /* display: inline-block; */
  font-family: inherit;
  color: #495057;
  font-size: 14px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #7b7878;
  /* border-bottom: none; */
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  max-height: 190px;
  overflow-x: auto;
}
.autocomplete-items div {
  padding: 8px;
  cursor: pointer;
  background-color: #fff;
  text-align:left;
}
/* .autocomplete-items div:last-child {
  border-bottom: 1px solid #7b7878;
} */

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
